{% if side == 'Aend' -%}
{% for item in range(FF_start_evi_ID,FF_end_evi_ID) -%}
no policy-map {{ ingress_policy1.PARENT }}
no policy-map {{ eggress_policy1.PARENT }}
no policy-map {{ ingress_policy1.CHILD }}
no policy-map {{ eggress_policy1.CHILD }}
{% endfor -%}
{% elif side == 'Bend' -%}
{% for item in range(FF_start_evi_ID,FF_end_evi_ID) -%}
no policy-map {{ ingress_policy1.PARENT }}
no policy-map {{ eggress_policy1.PARENT }}
no policy-map {{ ingress_policy1.CHILD }}
no policy-map {{ eggress_policy1.CHILD }}
{% endfor -%}
{% elif side == 'Cend' -%}
{% for item in range(FF_start_evi_ID,FF_end_evi_ID) -%}
no policy-map {{ ingress_policy1.PARENT }}
no policy-map {{ eggress_policy1.PARENT }}
no policy-map {{ ingress_policy1.CHILD }}
no policy-map {{ eggress_policy1.CHILD }}
{% endfor -%}
{% else -%}
 this is me
{% endif %}